.formacao {
  background: #732D1E;
  color: #fff;
}

.formacao-conteiner {
  max-width: 1200px; 
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  position: relative;
}

.formacao-conteiner::before {
  content: '';
  display: block;
  width: 30px;
  height: 8px;
  background: linear-gradient(#ffdfd2, #FFB39B);
  position:absolute;
  bottom: -5px;
  right: 20px;
}

.formacao-conteiner::after {
  content: '';
  display: block;
  width: 30px;
  height: 8px;
  background: linear-gradient(#ffdfd2, #FFB39B);
  position:absolute;
  bottom: -5px;
}

.formacao .subtitulo {
  color: #A34430;
  max-width: 5ch;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #FCECE7;
}

.formacao-texto strong {
  color: #fff5f1;
}

.universidade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.universidade {
  flex: 1;
  background: #A34430;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.universidade-tipo {
  font-size: .875rem;
  text-transform: uppercase;
  color: #FCECE7;
  margin-bottom: 10px;
}

.universidade-curso {
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
  position: relative;
}

.universidade-curso::before { 
  content: '';
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#ffdfd2, #FFB39B);
  position: absolute;
  left: -24px;
}

.universidade-instituicao {
  font-size: 1.125rem;
  color: #FCECE7;
}

.cursos {
  margin-bottom: 60px;
}

.formacao-extra h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: rgba(228, 99, 72, 0.85);
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.formacao-extra h3::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  background: url("../img/cursos.svg") no-repeat center center;
  position: absolute;
  left: -36px;
  top: -4px;
}

.cursos h3::before {
  background: url("../img/cursos.svg") no-repeat center center;
}

.idiomas h3::before {
  background: url("../img/idiomas.svg") no-repeat center center;
}

.formacao-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
}

.formacao-extra span {
  color: #ffdfd2;
}

.cursos li {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .formacao-conteiner {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }
  .formacao-conteiner::before {
    right: 0;
  }

  .formacao .subtitulo {
    color: #fff5f1;
  }
  .formacao-texto {
    font-size: 1.25rem;
  }
  .formacao-extra h3::before {
    position: initial;
    margin-bottom: 10px;
  }
}